version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/buildpack-deps:focal-curl
    steps:
      - run:
          name: list
          command: ls
      - run:
          name: list
          command: df -h
      - run:
          name: nproc
          command: nproc
      - run:
          name: tools
          command: curl -O https://dl.google.com/android/repository/platform-tools-latest-linux.zip
      - run:
          name: packages
          command: sudo apt install bc bison build-essential ccache curl flex g++-multilib gcc-multilib git gnupg gperf imagemagick lib32ncurses5-dev lib32readline-dev lib32z1-dev liblz4-tool libncurses5 libncurses5-dev libsdl1.2-dev libssl-dev libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc zip zlib1g-dev python
      - run:
          name: mkdir
          command: mkdir -p ~/bin
      - run:
          name: mkdir
          command: mkdir -p ~/android/lineage
      - run:
          name: unzip platform tools
          command: curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
      - run:
          name: unzip platform tools
          command: chmod a+x ~/bin/repo
      - run:
          name: mkdir
          command: git config --global user.email "you@example.com"
      - run:
          name: mkdir
          command: git config --global user.name "Your Name"
      - run:
          name: mkdir
          command: PATH=~/platform-tools:$PATH
      - run:
          name: mkdir
          command: PATH=~/bin:$PATH
      - run:
          name: mkdir
          command: repo init -u https://github.com/LineageOS/android.git -b lineage-17.1
      - run:
          name: mkdir
          command: repo sync
      - run:
          name: mkdir
          command: . /build/envsetup.sh
      - run:
          name: mkdir
          command: breakfast jasmine_sprout
      - run:
          name: mkdir
          command: croot
      - run:
          name: mkdir
          command: brunch jasmine_sprout
      - run:
          name: mkdir
          command: cd $OUT
      - run:
          name: mkdir
          command: ls
        
      
      
